*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
                                                    /* HEADER */
header{
    height: 10vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

body{
    background-color: beige;
}

header, 
footer, 
.navbar{
    background-color: rgb(167, 16, 167) !important; 
}

#navbarSupportedContent{
    z-index: 1;
    background-color: rgb(167, 16, 167);
}

nav img{
    width: 6rem;
}

                                                    /* MAINS */
#mainIndex, #mainComingEvents,#mainPastEvents, #mainContact, #mainDetails{
    min-height: 80vh;
}

.categoryControlComing, .categoryControlPast{
    height: 49vh;
}

#mainStats{
    height: 110vh;
}

h1{
    text-align: center;
}
                                                    /* Checkboxs */
.categoryControl{
    height: 69vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
                                                    
.past, .coming{
    height: 70vh;
}
                                                                                                       
.categoryControl .d-flex{
    margin: .4rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    align-items: center;
}
                                                    
.categoryControl .d-flex input{
    width: 8rem;
    height: 1rem;
}
.categoryControl .d-flex button{
    height: 2rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

                                                    /* CARTAS */

#mainIndex #sectionCard{
    height: 987vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#mainComingEvents #sectionCard, #mainPastEvents #sectionCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.containerTxt h1{
    text-align: center;
}

.card{
    margin-top: 1rem;
    height: 22rem;
}

.card-img-top{
    height: 10rem;
}

.buttonCard{
    display: flex;
    justify-content: space-between;
}

                                                              /* FORMULARIO */
                                                    
.containerForm{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    padding: 1rem;
    border-radius: 1rem;
    border: 2px outset rgb(136, 47, 84);
    background-color: rgba(177, 38, 91, 0.863);
}

label,input,textarea{
    padding: .3rem;
    width: 100%;
    border-radius: 1rem;
}

.buttonForm{
    display: flex;
}

.buttonForm button{
    padding: .3rem;
    width: 6rem;
    border-radius: 4rem;
    border: none;
}
                                                                /* STATS */
.containerTable{
    margin-top: 10px;
    height: 70vh;
    display: flex;
    justify-content: center;
}
table{
    padding: .4rem;
    border: none;
}

tr,th,td{
    padding: 1rem;
    border: 1px solid #000;
}
th{
    color: #fff;
    text-shadow: 1px 1px 1px  #000;
    background-color: rgb(125, 125, 125);
}

                                                                /* DETAILS */

.detailsSection{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.containerImg{
    margin-bottom: 3rem;
    height: 30vh;
    width: 80vw;
    border-radius: 35%;   
    background-color: #fff;
    box-shadow: -0px 0px 30px -3px rgba(0, 0, 0, 0.575);
}

.detailsImg{
    object-fit: cover;
}

.containerTxt{
    margin-bottom: 3rem;
    height: 45vh;
    width: 80vw;
    text-align: center;
    border-radius: 15%;
    background-color: #fff;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.575);
}
                                                                /* FOOTER */
footer{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a img{
    height: 1.5rem;
}

footer p{
    color: #fff;
}

@media only screen and (min-width:576px){
    #mainIndex #sectionCard{
        height: 495vh;
    }
    
    #mainComingEvents,#mainPastEvents{
        height: 285vh;
    } 

    #mainComingEvents #sectionCard, #mainPastEvents #sectionCard{
        height: 285vh;
        flex-direction: row;
    }
    
    #mainContact{
        height: 100vh;
    }
    
    #mainStats{
        height: 90vh;
        
    }
    
    #mainDetails{
        height: 100vh;
    }

    .categoryControl{
        height: 70vh; 
    }
}
 @media only screen and (min-width:864px) {

    #mainIndex #sectionCard{
        height: 353vh;
        align-content: center;
    }
    
    #mainComingEvents,#mainPastEvents{
        height: 275vh;
    } 
    
    #mainContact{
        height: 100vh;
    }
    
    #mainStats{
        height: 80vh;
        margin-top: 10px;
    }
    
    #mainDetails{
        height: 130vh;
    }
} 
 @media only screen and (min-width:1024px){
    #mainIndex {
        height: 278;
    }
    
    #mainIndex #sectionCard{
        height: 288vh;
    }

    #mainComingEvents,#mainPastEvents{
        height: 160vh;
    } 
    
    #mainComingEvents #sectionCard, #mainPastEvents #sectionCard{
        height: 160vh;
    }

    #mainContact{
        height: 100vh;
    }
    
    #mainStats{
        height: 78.5vh;
        margin-top: 10px;
    }
    
    #mainDetails{
        height: 130vh;
    }
    .categoryControl{
        height: 50vh;
    }
}  